* {
    margin: 0;
    padding: 0;
}

header#banner {
    background-color: #161b22;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

#banner > a {
    text-decoration: none;
}

#logo {
    color: #f0f6fc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24pt;
    margin: 0;
}

body {
    background-color: #0d1117;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label, .form-title {
    color: #c9d1d9;
}

#main-outer-banner {
    padding: 50px 0;
    text-align: center;
}

#main-inner-banner {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 4.16667%;
}

em {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-weight: 300;
    line-height: 1.3;
    font-size: 3.6rem;
    font-style: normal;
    color: #f9fafb;
}

.signup-b {
    line-height: 1.3;
    outline: 0;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    font-size: 1.8rem;
    display: inline-block;
    padding: 1.5rem 40px 1.5rem;
    margin-bottom: 40px;
    color: #f9fafb;
    border: 0;
    font-weight: 700;
    background-color: #238636;
}

#login-hint {
    color: #797979;
    font-size: 14px;
}

.inline-l {
    text-decoration: none;
    color: #b2b4b7;
}

.inline-l:hover {
    text-decoration: none;
    color: #fff;
}

.signup-b:hover {
    color: #f9fafb;
    background-color: #2ea043;
}

.errorlist {
    color: red;
    list-style-type: none;
    padding-left: 0;
}

.form-title {
    border-bottom: 1px solid #21262d;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

.c-alert {
    width: fit-content;
    margin: 20px auto 0;
}

.field-d, .field-d:focus {
    background-color: rgba(1, 4, 9, 0.3) !important;
    color: rgb(255, 255, 255);
    border: 1px solid #21262d;
    font-size: 14px;
}

.field-d:focus {
    border-color: #388bfd;
    outline: none;
    box-shadow: 0 0 0 3px #0c2d6b;
}

.f-container {
    padding: 1.5rem;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
}