{% block content %}

<div class="f-container">
    <h1 class="form-title">{{ f_type }} Claim</h1>
    <form enctype="multipart/form-data" action="{% if f_type == 'Submit' %}{% url 'dashboard:submit' %}{% else %}{% url 'dashboard:manage' cid %}{% endif %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.fullname.errors }}
            <label class="form-label" for="{{ form.fullname.id_for_label }}">Name:</label>
            {{ form.fullname }}
        </div>
        <div class="mb-3">
            {{ form.email.errors }}
            <label class="form-label" for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.mobile_num.errors }}
            <label class="form-label" for="{{ form.mobile_num.id_for_label }}">Mobile num (+60 123456789):</label>
            {{ form.mobile_num }}
        </div>
        <div class="mb-3">
            {{ form.vehicle_model_year.errors }}
            <label class="form-label" for="{{ form.vehicle_model_year.id_for_label }}">Model year:</label>
            {{ form.vehicle_model_year }}
        </div>
        <div class="mb-3">
            {{ form.vehicle_model.errors }}
            <label class="form-label" for="{{ form.vehicle_model.id_for_label }}">Model:</label>
            {{ form.vehicle_model }}
        </div>
        <div class="mb-3">
            {{ form.vehicle_no.errors }}
            <label class="form-label" for="{{ form.vehicle_no.id_for_label }}">Registration num:</label>
            {{ form.vehicle_no }}
        </div>
        <div class="mb-3">
            {{ form.accident_dt.errors }}
            <label class="form-label" for="{{ form.accident_dt.id_for_label }}">Date and time of accident (DD/MM/YYYY HH:MM):</label>
            {{ form.accident_dt }}
        </div>
        <div class="mb-3">
            {{ form.location.errors }}
            <label class="form-label" for="{{ form.location.id_for_label }}">Location:</label>
            {{ form.location }}
        </div>
        <div class="mb-3">
            {{ form.loss_type.errors }}
            <label class="form-label" for="{{ form.loss_type.id_for_label }}">Type of loss:</label>
            {{ form.loss_type }}
        </div>
        <div class="mb-3">
            {{ form.loss_desc.errors }}
            <label class="form-label" for="{{ form.loss_desc.id_for_label }}">Description of loss:</label>
            {{ form.loss_desc }}
        </div>
        <div class="mb-3">
            {{ form.pr_lodged_inq.errors }}
            <label class="form-label" for="{{ form.pr_lodged_inq.id_for_label }}">Police report lodged?:</label>
            {{ form.pr_lodged_inq }}
        </div>
        <div class="mb-3">
            {{ form.inq_injury.errors }}
            <label class="form-label" for="{{ form.inq_injury.id_for_label }}">Anyone else injured?:</label>
            {{ form.inq_injury }}
        </div>
        {% if f_type == 'Submit' %}
        <div class="mb-3">
            {{ form.photo.errors }}
            <label class="form-label" for="{{ form.photo.id_for_label }}">Photo:</label>
            {{ form.photo }}
        </div>
        <div class="mb-3">
            {{ form.insurance_cover_note_pdf.errors }}
            <label class="form-label" for="{{ form.insurance_cover_note_pdf.id_for_label }}">Cover note (in PDF):</label>
            {{ form.insurance_cover_note_pdf }}
        </div>
        {% endif %}
        <input class="btn btn-success mb-2" type="submit" value="Submit">
    </form>
    {% if f_type == 'Manage' %}
    <form enctype="multipart/form-data" action="{% if f_type == 'Submit' %}{% url 'dashboard:submit' %}{% else %}{% url 'dashboard:manage' cid %}{% endif %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form_photo.photo.errors }}
            <label class="form-label" for="{{ form_photo.photo.id_for_label }}">Photo:</label>
            <a href="{{ link.photo.url }}" class="link-primary small">Current</a>
            {{ form_photo.photo }}
        </div>
        <input class="btn btn-success mb-2" type="submit" value="Submit">
    </form>
    <form enctype="multipart/form-data" action="{% if f_type == 'Submit' %}{% url 'dashboard:submit' %}{% else %}{% url 'dashboard:manage' cid %}{% endif %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form_ins.insurance_cover_note_pdf.errors }}
            <label class="form-label" for="{{ form_ins.insurance_cover_note_pdf.id_for_label }}">Cover note (in PDF):</label>
            <a href="{{ link.insurance_cover_note_pdf.url }}" class="link-primary small">Current</a>
            {{ form_ins.insurance_cover_note_pdf }}
        </div>
        <input class="btn btn-success mb-2" type="submit" value="Submit">
    </form>
    <p style="color:#fff">Delete the claim?</p>
    <div class="d-grid">
        <a href="{% url 'dashboard:manage' link.id %}/delete" role="button" class="btn btn-danger">Delete</a>
    </div>
    {% endif %}
</div>

{% endblock %}